
**/[Bb]in/
**/[Oo]bj/
build/
Build/

.vs/
*.sln.docstates
*.suo


*.user
*.userosscache
*.csproj.user
*.vbproj.user


TestResults/
*.trx
_ReSharper*/
*.sln.DotSettings
*.sln.DotSettings.user
*.dbmdl
*.mtxb
*.psess
*.vsp
*.vspx
*.vspscc
*.vssscc
secrets.json
*.secrets.json




